<html>
<head>
    <meta charset="UTF-8">
    <style>
        form {
            margin: 0 auto;
            width: 250px;
            border: 2px dashed black;
        }
        ul{
            list-style: none;
            padding: 25px;
            margin: 0;
        }
        li{
            padding-bottom: 5px;
        }
        #com{
            border-style: none;
        }
    </style>
</head>
<body>
    <p>
        <h1>Witaj na przykladowej stronie</h1>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum.
        </span>
    </p>
    <p>
        <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
        <ul>
            <li>tak</li>
            <li>nie</li>
            <li>moze</li>
        </ul>
    </p>
    <p>
        <form name="zad1" action="/zad1" method="POST">
            <ul>
                <li>
                    <label for="freetext1"></label>
                    <input type="text" id="freetext1" name="freetext`">
                </li>
                <li>
                    <input type="submit" name="submit" value="Wyslij">
                </li>
            </ul>
        </form>
        <form name="zad2" action="/zad2" method="POST">
            <ul>
                <li>
                    <label for="firstnumberl"></label>
                    <input type="number" id="firstnumberl" name="firstnumber">
                </li>
                <li>
                    <label for="Wybierz znak"></label>
                    <select name="znaki" id="znaki">
                        <option value="dodawanie">+</option>
                        <option value="odejmowanie">-</option>
                        <option value="mnozenie">*</option>
                        <option value="dzielenie">/</option>
                    </select>
                </li>
                <li>
                    <label for="secondnumberl"></label>
                    <input type="number" id="secondnumberl" name="secondnumber">
                </li>
                <li>
                    <input type="submit" name="wynik" value="Oblicz">
                </li>
            </ul>
        </form>
        <form name="zad3" action="/zad3" method="POST">
            <ul>
                <li>
                    <label for="login"></label>
                    <input type="text" id="login" name="login" placeholder="LOGIN" value="{{ value }}">
                </li>
                <li>
                    <label for="pass"></label>
                    <input type="password" id="pass" name="pass" placeholder="PASSWORD">
                </li>
                <li>
                    <input type="submit" name="log" value="Zaloguj">
                </li>
                <li><input type="text" id="com" name="info" value="{{ value1 }}"></li>
            </ul>
        </form>
    </p>
</body>
</html>